@import "tailwindcss";

@font-face {
  font-family: "Custom";
  src: url("/custom.otf") format("opentype");
}

* {
  font: "Custom", sans-serif;
  image-rendering: pixelated;
}

.blur-bg {
  backdrop-filter: blur(100px);
  background: rgb(0, 3, 32);
}

.sakura {
  background-image: url("/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
}

